<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" media="screen, projection">
    <!--[if IE 6]><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/960/ie6.css') }}" media="screen"><![endif]--> 
    <!--[if gte IE 7]><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/960/ie.css') }}" media="screen"><![endif]--> 
    {% block titletags -%}
    <title>{% block title %}{% endblock %} &mdash; Pennywise</title>
    <meta name="DC.title" content="{{ self.title()|e }} &mdash; Pennywise">
    {%- endblock %}
    {% if config['DEBUG'] %}
      <script src="{{ url_for('static', filename='js/ext/jquery-1.4.2.min.js') }}" type="text/javascript"></script>
      <script src="{{ url_for('static', filename='js/ext/jquery-ui-1.8.4.min.js') }}" type="text/javascript"></script>
    {%- else -%}
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script> 
      <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js" type="text/javascript"></script>
    {%- endif %}
    {% block headers %}{% endblock %}
  </head>
  <body>
    <div id="header">
      <div class="container_16">
        <div class="grid_4">
          <h1 id="site-title">Pennywise</h1>
          <p id="tagline">Social Accounting</p>
        </div>
        <div class="grid_12">
          <ul id="globalnav">
            {% if g['user'] %}<li><a href="{{ url_for('index') }}{{ g['user'].username }}">My Ledgers</a></li>{% endif %}
            {% if not g['user'] %}<li><a href="{{ url_for('register') }}">Register</a></li>{% endif %}
            {% if not g['user'] %}<li><a href="{{ url_for('login') }}">Login</a></li>{% endif %}
            {% if g['user'] %}<li><a href="{{ url_for('logout') }}">Logout</a></li>{% endif %}
          </ul>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="container_16">
      <div class="grid_16">
        {% block pagetitle %}<h2>{{ self.title()|e }}</h2>{% endblock %}
        {% for category, msg in get_flashed_messages(with_categories=true) %}
          <div class="flash flash-{{ category }}">{{ msg }}</div>
        {% endfor %}
      </div>
      <div class="clear"></div>
      {% block contentarea %}
        <div id="content" class="grid_11">
          {% block content %}{% endblock %}
        </div>
        <div id="sidebar" class="grid_5">
          {% block sidebar %}{% endblock %}
        </div>
      {% endblock %}
      <div class="clear"></div>
    </div>
    <div id="footer">
      <div class="container_16">
        <div class="grid_16">
          {% block footer %}
          <!-- -->
          {% endblock %}
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="container_16">
      <div id="copyright" class="grid_16">
        <p>Copyright &copy; 2010 by <a href="http://jace.zaiki.in/">Kiran Jonnalagadda</a>.</p>
      </div>
    </div>
  </body>
</html>
