{% extends "layout.html" %}
{% block title %}{{ user.fullname }}&rsquo;s Ledgers{% endblock %}
{% block pagetitle %}{% endblock %}
{% block contentarea %}
  <div class="grid_16">
    <table class="ledgers">
      <thead>
        <tr>
          <th><h2 class="ledgers">{{ self.title() }}</h2></th>
          <th>Description</th>
          <th class="num">Balance</th>
          {% if multicurrency %}<th class="num">Balance in {{ maincurrency }}</th>{% endif %}
        </tr>
      </thead>
      <tbody>
        {% for l in ledgers -%}
          <tr class="{% if l['ledger'].placeholder %}placeholder{% else %}ledger{% endif %}{% if l['hidden']%} hidden{% endif %}">
            <td class="l{{ l['level'] }}"><a class="row" href="{{ l['url'] }}"><input type="checkbox" name="{{ l['ledger'].uuid }}"/> {{ l['ledger'].title }}</a></td>
            <td><a class="row" href="{{ l['url'] }}">{{ l['ledger'].description }}&nbsp;</a></td>
            <td class="num"><a class="row" href="{{ l['url'] }}">{{ l['ledger'].formatted_balance() }}</a></td>
            {% if multicurrency %}<td class="num"><a class="row" href="{{ l['url'] }}">{{ l['ledger'].formatted_balance() }} (FIXME)</a></td>{% endif %}
          </tr>
        {%- endfor %}
      </tbody>
    </table>
    <p class="controls">
      <input type="checkbox" name="showhidden" id="showhidden" value='v'/> <label for="showhidden">Show hidden ledgers</label>
    </p>
    <script type="text/javascript">
      $('#showhidden').click(function() {
        if (this.checked == true) {
          $('table.ledgers tr.hidden').removeClass('hidden').addClass('shown');
        } else {
          $('table.ledgers tr.shown').removeClass('shown').addClass('hidden');
        }
      })
    </script>
  </div>
  <div class="clear"><!-- --></div>
{% endblock %}
