{% extends "layout.html" %}
{% block title %}{{ owner.fullname }} / {{ ledger.title }}{% endblock %}
{% block headers -%}
  <script type="text/javascript" src="{{ url_for('static', filename='slickgrid/lib/jquery.event.drag-2.0.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='slickgrid/slick.grid.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='slickgrid/slick.grid.css') }}" type="text/css" media="screen" charset="utf-8" /> 
  <link rel="stylesheet" href="{{ url_for('static', filename='slickgrid/css/smoothness/jquery-ui-1.8.2.custom.css') }}" type="text/css" media="screen" charset="utf-8"/>
{%- endblock %}
{% block contentarea %}
  <div class="grid_16">
    <table class="ledgers">
      <thead>
        <tr>
          <th>Date &amp; Time</th>
          <th class="num">Number</th>
          <th>Description</th>
          <th>Ledger</th>
          <th><abbr title="Reconciled">R</abbr></th>
          <th class="num">Increment</th><!-- TODO -->
          <th class="num">Decrement</th><!-- TODO -->
          <th class="num">Balance</th>
        </tr>
      </thead>
      <tbody>
        <td colspan="8">Not implemented</td>
      </tbody>
    </table>
  </div>
  <div class="clear"><!-- --></div>
  <div class="grid_16" id="transactiongrid" style="height: 300px; font-size: 85%;">
    <!-- Slick grid comes here -->
    <script type="text/javascript">
      var grid;
      var columns = [
        {id: 'date', name: 'Date', field: 'datetime', width: 100},
        {id: 'number', name: 'Number', field: 'num', width: 70},
        {id: 'description', name: 'Description', field: 'description', width: 300},
        {id: 'ledger', name: 'Ledger', field: 'ledger', width: 300},
        {id: 'reconciled', name: 'R', field: 'reconciled', width: 20},
        {id: 'increment', name: 'Increment', field: 'increment', width: 90},
        {id: 'decrement', name: 'Decrement', field: 'decrement', width: 90},
        {id: 'balance', name: 'Balance', field: 'balance', width: 90},
      ];
      var options = {
        autoEdit: true,
        autoHeight: false,
        enableAddRow: true,
        editable: true,
        enableCellNavigation: true,
        enableColumnReorder: false,
        forceFitColumns: true,
      };
      $(function() {
        // var data = [
        //   {datetime: new Date(), num: 123, description: 'Dummy Transaction', ledger: 'not uuid', reconciled: false, increment: 0, decrement: 0, balance: 0}
        // ];
        var data = [];
    			for (var i = 0; i < 500; i++) {
    				data[i] = {
    				            datetime: new Date(),
                        description: "Task " + i,
                        num: i,
                        ledger: 'UUID',
                        reconciled: false,
                        increment: Math.round(Math.random() * 100),
                        decrement: 0,
                        balance: Math.round(Math.random() * 100),
                    };
    			}
        grid = new Slick.Grid($("#transactiongrid"), data, columns, options);
        grid.autosizeColumns();
      })
    </script>
  </div>
  <div class="clear"><!-- --></div>
{% endblock %}
